[user]
    name = name
    email = mailadress
[branch]
    autosetuprebase = always
[push]
    default = simple
[core]
    autocrlf = false

[alias]
    co = checkout
    ci = commit
    br = branch
    pur = pull --rebase
    pu = push origin master:refs/for/master
    st = status
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    type = 'cat-file
    dump = 'cat-file

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
